{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">

    {{ parent() }}

    <div class="row top-content">
        <div class="col-lg-9 col-md-12">
            <table>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>File</th>
                </tr>
                {% for content in contents %}
                <tr>
                    <td>{{ content.title }}</td>
                    <td>{{ content.url }}</td>
                    <td>{{ content.filePath }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>


        <div class="col-lg-3 d-none d-lg-block">
            <div>
                <h1>Categories</h1>
                <ul>
                    <li>Programming</li>
                    <li>DevOps</li>
                    <li>Data Engineering</li>
                    <li>Travel</li>
                    <li>Blockchain</li>
                </ul>
            </div>
            <div class="d-none d-lg-block">
                <h1>Tag Cloud</h1>
                <P>Cloud Here</P>
                <P>Cloud Here</P>
                <P>Cloud Here</P>
                <P>Cloud Here</P>
            </div>
        </div>
    </div>
</div>
{% endblock %}
